<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{subject}}</title>
  </head>
  <body>
        <p>Hello,</p>
        <p>
            To reset your password, click on the link below.
        </p>
        <a href="{{url}}" target="_blank">Reset password</a>
  </body>
</html>